<style type="text/css">
  #logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
<div id ="app"></div>
<script type="text/javascript" src="/static/yoshimi.js"></script>
<script type="text/javascript">
  yoshimi(document.getElementById('app'));
</script>
