<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Yoshimi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{PREFIX}}/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      {{{content}}}
    </div>
</body>
</html>
