Hello,<br /><br />

You recently signed up an account on {{brand_name}}'s single sign-on service.<br />
In order to finish your registration, we need to verify your email address.<br /><br />

Please follow the link above to link this email address with your account:
<a href="{{url}}">Validate my email</a>.<br /><br />

If you’re not sure what this is about, you can disregard this message.
