Bonjour,<br /><br />

Vous venez de vous inscrire sur le système d'authentification {{brand_name}}.<br />
Pour finaliser votre inscription, nous avons besoin de confirmer votre adresse e-mail.<br /><br />

Merci de suivre le lien ci-dessous pour lier cette adresse email avec votre compte :<br />
<a href="{{url}}">Valider mon adresse e-mail</a><br /><br />

Si vous n'avez pas sollicité ce mail, vous pouvez ignorer ce message.
